//- Navbar with dropdowns, default color
+nav("Guffaw", "dropdown_menu")
    +nav_item( "/" ) Home
    +nav_item( "/dexter" ) Dexter
    +nav_item_dropdown( "#" )( label="Games")
        +nav_item( "/game/space" ) Space: Intension
        +nav_item( "/game/apartment" ) Apartment
    if(user)
        if(user['role'] === "Admin")
            +nav_item( "/admin" ) Admin
        +nav_item( "/logout" ) Logout
    else
        +nav_item( "/Register" ) Register