include mixins

doctype html
html
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='My personal website using Jade')

    title= 'Intension: Space'

    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/bootstrap/css/sticky-footer.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/game.css')
    link(rel='shortcut icon', href='images/favicon.ico')

    script(src='/javascripts/chat.js')
    script(src='https://cdn.socket.io/socket.io-1.3.5.js')
    script(src='http://code.jquery.com/jquery-1.11.2.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/global.js')

    //- Bootswatch Theme
    +bootswatch("cosmo")

    script(src="game/js/game.min.js")

body#gamebody
    #gameContainer
    include footer