extends layouts/layout

block append head
    title= 'Intension: Space'
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/game/style/game.css')
    link(rel='shortcut icon', href='/images/favicon.ico')
    if(user)
        script(src='/js/chat.js')
    //script(src='https://cdn.socket.io/socket.io-1.3.5.js')
    script(src='https://code.jquery.com/jquery-1.11.2.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/js/global.js')
    script(src="/game/js/game.min.js")
        
body#gamebody
    #gameContainer
