extends layout

block content
  div.container
  h1 Login
    div.content
      form.form-horizontal(method="post", id="loginForm")
        label Username
        input.span3(id="username", type="text", name="User", placeholder="Enter your username")
        label Password
        input.span3(id="password", type="password", name="Password")
        input.btn(type="submit", value="Log In")