extends layout

block append head
link(rel='stylesheet', href='/stylesheets/style.css')

block content
    div.container
        h1 Welcome to my website, Guffaw.
        p This is going to become my portfolio site, along with every other idea I can think of and can develop.
        if(!user)
            a(href="/register") Register
        if(user)
            p You are currently logged in as #{user.username}
