extends layout

block content
    div.container
        h1 Welcome to my website, Guffaw.
        p This is going to become my portfolio site, along with every other idea I can think of and can develop.
